@media (max-width: 1200px) {
  .burger {
    &__menu {
      &--visible {
        display: block;
      }
    }
  }

  .tool {
    &__container {
      flex-direction: column;
      max-width: 500px;
      margin: auto;
    }
  }

  .menu {
    &__main {
      display: none;
    }

    &__container {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  .header {
    &__burger {
      display: block;
    }
  }

  .create__yellow-img {
    display: none;
  }

}

@media (max-width: 1024px) {


  .advice {
    &__img {
      display: none;
    }

    &__swiper {
      display: block;
    }

    &__main {
      max-width: 470px;
    }

    &__sticky {
      &-left {
        width: 30px;
      }

      &-right {
        width: 30px;
      }
    }
  }

  .template {
    &__img {
      display: none;
    }

    &__text {
      max-width: 500px;
      margin: auto;
      text-align: center;

      &-list {
        text-align: start;
        list-style: inside;
      }

      &-button {
        max-width: 100%;
      }
    }
  }

  .create {
    &__img {
      display: none;
    }

    &__text {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }

    &__button {
      max-width: 100%;
    }

    &__bos {
      &-info {
        text-align: start;
      }
    }
  }

  .private {
    &__img {
      display: none;
    }

    &__text {
      max-width: 500px;
      margin: auto;
    }

    &__violet {
      display: none;
    }
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

    &__info {
      display: flex;
      flex-direction: column;
    }
  }

  .social {
    &__container {

      &-first {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      &-second {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 0;
      }
    }

    &__network {
      &-blue {
        display: none;
      }
    }
  }

  .articles {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }
  }

  .trial {
    &__container {
      max-height: 600px;
    }

    &__img {
      &-menu {
        width: 150px;
      }

      &-aa {
        width: 150px;
      }

      &-yellow {
        bottom: 114px;
        left: 69px;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 25px;
      line-height: 28px;
    }

    &__button {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  .footer {
    &__sticky {
      display: none;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 60px;
      // max-width: 300px;
      // margin: auto;
    }
  }
}

@media(max-width:900px) {
  .function {
    &__container {
      &-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .advices {
    margin: auto;
    text-align: center;

    &__title {
      text-align: center;
    }

    &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      padding: 10px;
    }

    &__sticky {
      &-right {
        right: 0;
        width: 30px;
      }

      &-left {
        left: 0;
        width: 30px;
      }
    }
  }

  .footer {
    #s {
      font-weight: bolder;
    }

    &__menu {
      &-first {
        text-align: center;
      }

      &-second {
        text-align: center;
      }

      &-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
          text-align: center;
        }
      }
    }

    &__end {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;

      &-first {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media(max-width:750px) {
  .tool {
    &__container {}

    &__img {
      min-width: 100%;
      margin-right: 0;
      margin: auto;

      &-pink {
        right: 0;
        top: 0;
        // left: -20px;
        width: 50px;
      }

      &-blue {
        display: none;
      }

      &-neon {
        // right: 0;
        left: 50px;
        top: 50px;
        width: 280px;
      }

      &-robert {
        right: 0;
        bottom: 50px;
        width: 170px;
      }

      &-user {
        left: 50px;
        bottom: 90px;
        // top: 160px;
      }
    }

    &__item {
      &-test {
        position: relative;
        width: 100%;
      }

      &-img {
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
      }

      &-button {
        margin: auto;
        margin-top: 70px;
        width: 100%;
        padding: 20px 60px;

        &__link {}
      }
    }

    &__dot {
      margin-top: 24px;
      margin-left: 100px;
    }
  }

  .private {
    &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      &-regular {
        text-align: center;
      }

      &-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .working {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__gmail {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      padding-right: 100px;

    }

    &__food {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      padding-right: 100px;
    }

    &__project {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      padding-right: 100px;
    }

  }

  .social {
    &__network {
      display: flex;
      align-items: center;
      flex-direction: column;

      &--blur {
        display: none;
      }

      &--blur2 {
        display: block;
      }

      &-blur {
        display: none;
      }
    }
  }

  .modal {
    &__dialog {
      padding: 23px 38px;
      max-width: 320px;

      &-title {
        font-weight: 260;
        font-size: 15px;
        line-height: 17px;
      }

      &-form {
        &__name {
          width: 200px;
          height: 35px;
        }

        &__mail {
          width: 200px;
          height: 35px;
        }

        &__number {
          width: 200px;
          height: 35px;
        }

        &__button {
          padding: 8px 25px;
        }
      }
    }

    &__close {
      width: 15px;
    }

  }

  .modal {
    &__video {
      &-dialog {
        padding: 30px 40px;
        max-width: 320px;
      }

      video {
        height: 250px;
        width: 270px;

      }

      img {
        position: fixed;
        z-index: 10;
        right: 20px;
        width: 15px;
      }
    }
  }
}

@media(max-width: 600px) {
  .tool {
    &__item {
      &-bold {
        font-size: 30px;
      }
    }
  }
}

@media(max-width:320px) {
  button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
  }

  .tool {
    &__item {
      &-bold {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }

      &-regular {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .advice {
      &__item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 31px;
      }
    }
  }

  .function {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }

    &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
    }

    &__container {
      &-img {
        img {
          width: 45px;
        }

        span {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .template {
    &__text {
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
      }

      &-regular {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }

      &-list {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .create {
    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    &__regular {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    span {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .private {
    &__text {
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
      }

      &-regular {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .working {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }

    &__container {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .advices {
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }

    &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    &__author {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;
    }
  }

  .rating {
    &__audio {
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }
    }

    &__info {
      &-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 58px;
      }

      &-repost {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &__plas {
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 58px;
    }
  }

  .social {
    &__network {
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .articles {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }

    &__branding {
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }

      &-date {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &__business {
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }

      &-date {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &__startup {
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }

      &-date {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .trial {
    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }

    #s {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 29px;
    }

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}